<br><br><br>

<h1>Testimonios de sanación</h1>

<div class="container-fluid cajota-video-container">
    <div class="col-md-10 offset-md-1">
        <h3 class="text-xs-center">Galería de vídeos</h3><br><br><br><br>


        <div class="row cajitas-row">
            <div class="col-md-6 sala-video">
                <iframe width="100%" height="230" src="https://www.youtube.com/embed/L0LaEgTMCP4" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">10 Ejercicios geniales para mejorar tu vista</label>
            </div>
            <div class="col-md-6 sala-video">
                <iframe width="100%" height="230" src="https://www.youtube.com/embed/_kcA0TpMCgk" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">Como cuidar tus ojos</label>
            </div>       
        </div>

        <div class="row cajitas-row">
            <div class="col-md-6 sala-video">
                <iframe width="100%" height="230" src="https://www.youtube.com/embed/LFXzIc2Q3bY" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">Cosas y Hábitos que Dañan tus Ojos</label>
            </div>
            <div class="col-md-6 sala-video">
                <iframe width="100%" height="230" src="https://www.youtube.com/embed/PPIqIIXwSwU" frameborder="0" allowfullscreen></iframe>
                <label class="form-control label-warning text-xs-center">dibujos animados familiares sobre el cuidado de los ojos</label>
            </div>  
        </div>

        <div class="row cajitas-row">
          <div class="col-md-6 sala-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/-a28sRxuI0I" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">Vitaminas Para Ojos , Salud Ocular</label>
          </div>
          <div class="col-md-6 sala-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/SGt75d0d2iM" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">Como Recuperar La Vista - Alimentos Y Vitaminas </label>
          </div>  
      </div>


      <div class="row cajitas-row">
          <div class="col-md-6 sala-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/DUx1tJTNrno" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">¿Qué tan buenos son tus ojos?</label>
          </div>
          <div class="col-md-6 sala-video">
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/ShnUKl9Rpbg" frameborder="0" allowfullscreen></iframe>
              <label class="form-control label-warning text-xs-center">Cuidados de la vista</label>
          </div>  
      </div>



    </div>
</div>

<br><br><br>


<footer>
  &copy;2019 Todos los derechos estan reservados por kmegavisión.
<a
  target="_blank"
  href="https://www.facebook.com/CleiserBusinessGroupSAS/"
  ></a
>

</footer>

